secrets.*
.vs
.vscode
obj/
bin/
PublishProfiles/

/AzureSphere/MySphere/.vs
/AzureSphere/MySphere/out
/AzureSphere/.vs/MySphere/v15
/AzureSphere/MySphere/MySphere.vcxproj.user

/IntelGalileo/node_modules/